@font-face {
  font-family: 'Poppins';
  src: url(./assets/font/Poppins-Regular.woff) format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url(./assets/font/Poppins-SemiBold.woff) format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'Poppins';
  src: url(./assets/font/Poppins-Bold.woff) format('woff');
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --tipo-principal: 'Poppins', sans-serif;
  --color: #242424;
  --background-color: rgba(255, 255, 255, 0.87);
}
img,
svg {
  display: block;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.logOut {
  background-color: var(--color);
  color: var(--background-color);
  padding: 0.5rem 1rem;
  border-radius: 0.4em;
  border: none;

  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  background-color: var(--background-color);
  color: var(--color);
}
